/*******************

COMMON

********************/

body{
    font-family: "monospace", sans-serif;
}

.font-primary{
    color: #eb7ef5;
}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}